# transient files
smex-items
recentf
*.*~
projectile-bookmarks.eld
.cider-repl-history
*.log
.lsp-session*
bookmarks
savefile

# directories
auto-save-list
elpa
transient
eshell
backup
.cache

# backends
eclipse.jdt.ls/

custom-vars.el

company-statistics-cache.el
projectile.cache
projects
tutorial
workspace

pomm
elfeed
url
.dap-*

*.sqlite
amx-items
org-roam.db
/anaconda-mode/
